<html>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
<title>My Contacts</title>
</head>
<h2 style="text-align: center">My Contacts </h2>
<div class="row">
  <div class="btn-group dropup col-md-6">
    <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <div class="col-6 md-6" style="text-align: right">
        <div class="p-3 border bg-light" >Create New <a href ="file:///home/naanal-user/Desktop/fouziya/html%20sample/create%20new.html"> <button type="button" class="btn btn-primary">+</button></a> 
      </div>        
  </div>
</div>
<section id="app" class="container">
    <div>
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" v-model="firstName"/>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" v-model="lastName"/>
        </div>
        <div class="form-group">
            <label for="phone_no">Phone No</label>
            <input type="text" class="form-control" for="phone_no" v-model="phoneNo"/>
        </div>
        <button class="btn btn-primary" @click="saveContact()">Submit</button>
    </div>
<table class="table table-striped ">
    <tr>
        <th>First Name</th>
        <th> Last Name</th>
        <th>Phone No</th>
        <th>Actions</th>
    </tr>
    <tr v-for="(contact, index) in contacts">
        <td>{{contact.firstName}}</td>
        <td>{{contact.lastName}}</td>
        <td>{{contact.phoneNo}}</td>
        <td>
            <button type="button" class="btn btn-danger" @click="deleteContact(index)"><b>DELETE</b></button>
            <button type="button" class="btn btn-info" style="align-content: right; position: fixed; margin-bottom: 0px" @click="editContact(index)"><b>EDIT</b></button>
    </td>
  </tr>
</table>
</section>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue!',
      contacts: [],
      firstName: '',
      lastName: '',
      phoneNo: '',
    },
    methods: {
      saveContact() {
        const contactInfo = {firstName: this.firstName, lastName: this.lastName, phoneNo: this.phoneNo};
        this.contacts.push(contactInfo);
        this.firstName = this.lastName = this.phoneNo = '';
      },
      deleteContact(index) {
         this.contacts.splice(index,1);
      },
      editContact(index)
       {        
        this.firstName = this.contacts[index].firstName 
        this.lastName = this.contacts[index].lastName;
        this.phoneNo = this.contacts[index].phoneNo;
       }
    }
  })
  </script>
</body>
</html>
